
@model List<Homework1.Models.Announcement>





<h2>Announcements:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Responsible Person</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var announcement in Model)
        {
            <tr>
                <td>@announcement.Title</td>
                <td>@announcement.Text</td>
                <td>@announcement.ResponsiblePerson</td>
                <td>@announcement.Time</td>
            </tr>
        }
    </tbody>
</table>
<h1>Total Announcements:@ViewBag.AnnouncementCount</h1>
<footer body style="background-color:beige">
  <p body style="color: black; margin-top: auto; text-align: center;">Author: Tuna Parlak ID:B221202022</p>
</footer>